<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Online Store</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<style>
	body{
		background-color: #fafafa;
	}
	.btn-home{
		background-color: transparent;
	}
	.product-price{
		background-color: #fafafa;
	}
	.main{
		margin: 4rem 10rem;
	}
	@media screen and (max-width: 1200px){
		.form-add{
			flex-direction: column;
		}
		.btn-add{
			margin-top: 20px;
			width: 100%;
		}
		.input-amount{
			width: 100% !important;
		}
	}
</style>
<body>
<header class="sticky-top">
	<nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">
		<form method="get" th:action="@{/home}">
			<button type="submit" class="border-0 btn-home">
				<h4 class="text-white">ONLINE STORE</h4>
			</button>
		</form>
	</nav>
</header>
<div class="bg-white rounded-2 main">
	<div class="container d-flex justify-content-center">
		<div class="row bg-white">
			<div class="col-md-5 my-5 px-5">
				<img th:src="@{'/images/'+${book.image}}" alt="image" class="w-100"/>
			</div>
			<div class="col-md-7 my-5 px-5">
				<h5 class="text-uppercase px-3" th:text="${book.name}"></h5>
				<div class="product-price d-flex align-items-center px-3">
					<h2 class="my-3 text-primary" th:text="${book.book.price}"></h2>
					<p class="text-d pt-3 pl-1 text-primary">đ</p>
				</div>
				<div class="product-detail my-2">
					<h5 class="pt-3 px-3 text-dark ">The detail information of product</h5>
					<table>
						<tbody>
						<tr>
							<td class="text-secondary px-3" >Subject</td>
							<td class="" th:text="${book.title}"></td>
						</tr>
						<tr>
							<td class="text-secondary px-3">Language</td>
							<td class="" th:text="${book.book.language}"></td>
						</tr>
						<tr>
							<td class="text-secondary px-3 pt-2">ISBN</td>
							<td class=" pt-2" th:text="${book.book.isbn}"></td>
						</tr>
						<tr>
							<td class="text-secondary px-3 pt-2">Format</td>
							<td class="pt-2" th:text="${book.book.bookFormat}"></td>
						</tr>
						<tr>
							<td class="text-secondary px-3 pt-2">Publication date</td>
							<td class=" pt-2" th:text="${book.book.publicationDate}"></td>
						</tr>
						<tr>
							<td class="text-secondary px-3 pt-2">Status</td>
							<td class=" pt-2" th:text="${book.book.bookStatus}"></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="my-4 px-3">
					<form method="get" th:action="@{/cart/add}" class="d-flex align-items-center form-add w-100">
						<input type="number" name="amount" placeholder="Amount" class="form-control w-50 input-amount">
						<button type="submit" th:name="item_id" th:value="${book.id}" class="btn btn-primary mx-4 btn-add">
							<i class="fas fa-cart-plus text-white mr-2"></i>
							Add to cart
						</button>
					</form>
					<form method="get" th:action="@{/home}" class="my-4">
						<button type="submit" class="btn-sm btn-secondary border-0">
							<i class="fas fa-chevron-left"></i>
							Return
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset = "UTF-8">-->
<!--	<title>Chào Mừng bạn đến với hệ thống</title>-->
<!--	<link rel="stylesheet"-->
<!--	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--	      crossorigin="anonymous">-->
<!--</head>-->
<!--	<body>-->
<!--	<header>-->
<!--		<nav class="navbar navbar-expand-md navbar-dark"-->
<!--		     style="background-color: tomato">-->
<!--			<div>-->
<!--				<a href="https://www.facebook.com/profile.php?id=100008643390611" class="navbar-brand">Leonard Trinh</a>-->
<!--			</div>-->
<!--		</nav>-->
<!--	</header>-->
<!--	-->
<!--	<div class="row">-->
<!--		<div class="container">-->
<!--			<h3 class="text-center">Chi tiết sản phẩm</h3>-->
<!--			<hr>-->
<!--			<br>-->
<!--			<table class="table table-bordered">-->
<!--				<thead>-->
<!--					<tr style="font-weight: bold">Nhà Sách Leonard Trinh</tr>-->
<!--				</thead>-->
<!--				<tbody th:object="${book}">-->
<!--					<td>-->
<!--						<lable>ID:</lable> <lable th:text="${book.book.id}" ></lable> <br> <br>-->
<!--						<lable>Tên sách:</lable> <lable th:text="${book.name}"></lable> <br> <br>-->
<!--						<lable>Môn học:</lable> <lable th:text="${book.book.subject}"></lable> <br> <br>-->
<!--						<lable>Ngôn ngữ:</lable> <lable th:text="${book.book.language}"></lable> <br> <br>-->
<!--						<lable>Isbn:</lable> <lable th:text="${book.book.isbn}"></lable> <br> <br>-->
<!--						<lable>Barcode:</lable> <lable th:text="${book.book.barcode}"></lable> <br> <br>-->
<!--					</td>-->
<!--					<td>-->
<!--						<lable>Tiêu đề:</lable> <lable th:text="${book.title}"></lable> <br> <br>-->
<!--						<lable>Ngày xuất bản:</lable> <lable th:text="${book.book.publicationDate}"></lable> <br> <br>-->
<!--						<lable>Giá:</lable> <lable th:text="${book.book.price}"></lable> <br> <br>-->
<!--						<lable>Trạng thái sách:</lable> <lable th:text="${book.book.bookStates}"></lable> <br> <br>-->
<!--						<lable>Định dạng sách:</lable> <lable th:text="${book.book.bookFormat}"></lable> <br> <br>-->
<!--						<lable>Tình trạng sách:</lable> <lable th:text="${book.book.bookStatus}"></lable> <br> <br>-->
<!--					</td>-->
<!--					<tr>-->
<!--						<td>-->
<!--							<form method="get" th:action="@{/cart/add}">-->
<!--								<input type="number" name="amount">-->
<!--								<button type="submit" th:name="item_id" th:value="${book.id}">Thêm vào giỏ hàng</button>-->
<!--							</form>-->
<!--						</td>-->
<!--						<td>-->
<!--							<form method="get" th:action="@{/home}">-->
<!--								<input type="submit" value="Quay lại">-->
<!--							</form>-->
<!--						</td>-->
<!--					</tr>-->
<!--				</tbody>-->
<!--			</table>-->
<!--		</div>-->
<!--	</div>-->
<!--	</body>-->
<!--</html>-->