<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Xem giỏ hàng</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link th:href="@{/cart.css}" rel="stylesheet" />
</head>
<body>
<header>
	<nav class="navbar navbar-expand-md navbar-dark"
		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">
		<div>
			<a href="https://www.javaguides.net" class="navbar-brand">Management Book </a>
		</div>
<!--		<div>-->
<!--			<form method="get" th:action="@{/home}">-->
<!--				<input type="submit" value="Về Trang Chủ">-->
<!--			</form>-->
<!--		</div>-->
	</nav>
</header>
<br>

<div class="row">
	<div class="container">
		<h3 class="text-center"> Shopping Cart</h3>
		<hr>
		<br>
		<form method="post" th:action="@{/cart}">

			<table class="table  table-borderless">
				<thead>
				<tr>
					<th>Action</th>
					<th></th>
					<th>Name</th>
					<th>Amount</th>
					<th>Unit Price</th>
					<th>Total Price </th>
				</tr>
				</thead>
				<tbody th:each="item : ${cartList}">
				<tr>
					<td class="d-flex justify-content-around align-items-center" >
						<input  type="checkbox" name="cartItemIds" th:value="${item.id}"/>

						<button class="btn"><i class="fa fa-close"></i></button>
					</td>
					<td>
						<img th:src="@{'/images/'+${item.item.image}}" class="card-img-top" alt="..." style="max-width:100px; max-height:80px">
					</td>
					<td class="text-center align-items-center" th:text="${item.item.name}"></td>
					<td class="text-center align-items-center" th:text="${item.amount}"></td>
					<td class="text-center align-items-center" th:text="${item.item.price}"></td>
					<td class="text-center align-items-center" th:with="result=${item.item.price *item.amount}">
						<span th:text="${result}"></span>
					</td>
				</tr>
				</tbody>
			</table>

			<div>
				<button type="submit"  class="btn btn-primary" style="float:right; background:linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">Buy Now </button>
			</div>

		</form>
		<div class="d-flex justify-content-between">
			<form method="get" th:action="@{/home}">
				<i class="fa fa-arrow-left continue__shopping"></i>

				<button type="submit" class="btn btn-primary " style=" background:linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">Continue Shopping</button>
			</form>

		</div>
	</div>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--	  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset = "UTF-8">-->
<!--	<title>Xem giỏ hàng</title>-->
<!--	<link rel="stylesheet"-->
<!--		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--		  crossorigin="anonymous">-->
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--	<link th:href="@{/cart.css}" rel="stylesheet" />-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--	<nav class="navbar navbar-expand-md navbar-dark"-->
<!--		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">-->
<!--		<div>-->
<!--			<a href="https://www.javaguides.net" class="navbar-brand">Management Book </a>-->
<!--		</div>-->
<!--		<div>-->
<!--			<form method="get" th:action="@{/home}">-->
<!--				<input type="submit" value="Về Trang Chủ">-->
<!--			</form>-->
<!--		</div>-->
<!--	</nav>-->
<!--</header>-->
<!--<br>-->

<!--<div class="row">-->
<!--	<div class="container">-->
<!--		<h3 class="text-center"> Shopping Cart</h3>-->
<!--		<hr>-->
<!--		<br>-->
<!--		<form method="post" th:action="@{/cart}">-->

<!--			<table class="table  table-borderless">-->
<!--				<thead>-->
<!--				<tr>-->
<!--					<th>Action</th>-->
<!--					<th></th>-->
<!--					<th>Name</th>-->
<!--					<th>Amount</th>-->
<!--					<th>Unit Price</th>-->
<!--					<th>Total Price </th>-->
<!--				</tr>-->
<!--				</thead>-->
<!--				<tbody th:each="item : ${cartList}">-->
<!--				<tr>-->
<!--					<td class="d-flex justify-content-around align-items-center" >-->
<!--						<input  type="checkbox" name="cartItemIds" th:value="${item.id}"/>-->

<!--						<button class="btn"><i class="fa fa-close"></i></button>-->
<!--					</td>-->
<!--					<td>-->
<!--						<img th:src="@{'/images/'+${item.item.image}}" class="card-img-top" alt="..." style="max-width:100px; max-height:80px">-->
<!--					</td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.name}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.amount}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.price}"></td>-->
<!--					<td class="text-center align-items-center" th:with="result=${item.item.price *item.amount}">-->
<!--						<span th:text="${result}"></span>-->
<!--					</td>-->
<!--				</tr>-->


<!--				</tbody>-->
<!--				<tfoot>-->
<!--				<tr >-->
<!--					<th></th>-->
<!--					<th></th>-->
<!--					<th></th>-->
<!--					<th></th>-->
<!--					<th></th>-->


<!--				</tr>-->

<!--				</tfoot>-->

<!--			</table>-->

<!--			<div class="d-flex justify-content-between">-->
<!--&lt;!&ndash;				<div>&ndash;&gt;-->

<!--&lt;!&ndash;					<form method="get" th:action="@{/home}">&ndash;&gt;-->
<!--&lt;!&ndash;						<i class="fa fa-arrow-left continue__shopping"></i>&ndash;&gt;-->
<!--&lt;!&ndash;						&lt;!&ndash;						<input type="submit" value="Continue Shopping">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<button type="submit" class="btn btn-primary " style="margin-left:10px">Continue Shopping</button>&ndash;&gt;-->
<!--&lt;!&ndash;					</form>&ndash;&gt;-->

<!--&lt;!&ndash;				</div>&ndash;&gt;-->

<!--				<div>-->

<!--					<button class="btn btn-primary">Buy Now </button>-->

<!--				</div>-->
<!--			</div>-->

<!--		</form>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--	  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset = "UTF-8">-->
<!--	<title>Xem giỏ hàng</title>-->
<!--	<link rel="stylesheet"-->
<!--		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--		  crossorigin="anonymous">-->
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--	<link th:href="@{/cart.css}" rel="stylesheet" />-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--	<nav class="navbar navbar-expand-md navbar-dark"-->
<!--		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">-->
<!--		<div>-->
<!--			<a href="https://www.javaguides.net" class="navbar-brand">Management Book </a>-->
<!--		</div>-->
<!--		<div>-->
<!--			<form method="get" th:action="@{/home}">-->
<!--				<input type="submit" value="Về Trang Chủ">-->
<!--			</form>-->
<!--		</div>-->
<!--	</nav>-->
<!--</header>-->
<!--<br>-->

<!--<div class="row">-->
<!--	<div class="container">-->
<!--		<h3 class="text-center"> Shopping Cart</h3>-->
<!--		<hr>-->
<!--		<br>-->
<!--		<form method="post" th:action="@{/cart}">-->

<!--			<table class="table  table-borderless">-->
<!--				<thead>-->
<!--				<tr>-->
<!--					<th>Action</th>-->
<!--					<th></th>-->
<!--					<th>Name</th>-->
<!--					<th>Amount</th>-->
<!--					<th>Unit Price</th>-->
<!--					<th>Total Price </th>-->
<!--				</tr>-->
<!--				</thead>-->
<!--				<tbody th:each="item : ${cartList}">-->
<!--				<tr>-->
<!--					<td class="d-flex justify-content-around align-items-center" >-->
<!--						<input  type="checkbox" name="cartItemIds" th:value="${item.id}"/>-->

<!--						<button class="btn"><i class="fa fa-close"></i></button>-->
<!--					</td>-->
<!--					<td>-->
<!--						<img th:src="@{'/images/'+${item.item.image}}" class="card-img-top" alt="...">-->
<!--					</td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.name}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.amount}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.price}"></td>-->
<!--					<td class="text-center align-items-center" th:with="result=${item.item.price *item.amount}">-->
<!--						<span th:text="${result}"></span>-->
<!--					</td>-->
<!--				</tr>-->

<!--				</tbody>-->
<!--&lt;!&ndash;				<tr>&ndash;&gt;-->
<!--&lt;!&ndash;					<button class="btn btn-primary">Buy Now </button>&ndash;&gt;-->
<!--&lt;!&ndash;				</tr>&ndash;&gt;-->

<!--			</table>-->

<!--			<div class="d-flex justify-content-between">-->
<!--				<div>-->
<!--					<form class="d-flex" method="get" th:action="@{/home}">-->
<!--						<i class="fa fa-arrow-left continue__shopping"></i>-->
<!--						<span style="margin-left:10px">Continue Shopping</span>-->
<!--					</form>-->
<!--				</div>-->

<!--				<div>-->

<!--						<button class="btn btn-primary">Buy Now </button>-->

<!--				</div>-->
<!--			</div>-->

<!--		</form>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->