<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Trang Chu</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header class="sticky-top">
	<nav class="navbar navbar-expand-md navbar-dark"
		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) ">
		<form method="get" th:action="@{/home}">
			<button type="submit" class="border-0 btn-home" style="background-color: transparent">
				<h4 class="text-white" >ONLINE STORE</h4>
			</button>
		</form>
	</nav>
</header>

<br>

<div>
	<form method="get" th:action="@{/cart}">
		<button type="submit" class="btn " style="float:right;margin-right:30px; background:linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">View Cart </button>

	</form>
</div>

<div class="row">
	<!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
	<div class="container">
		<h3 class="text-center">List of Item</h3>
		<hr>

		<br>
		<table style="width: 100%">
			<tr th:each="item : ${items}">
				<div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
					 style="width: 20rem; display: inline-block">

					<img th:src="@{'/images/'+${item.image}}" class="card-img-top" alt="..." style="max-width:500px; max-height:300px">
					<div class="card-body">
<!--						<h5 class="card-title" th:text="${'item Id - ' + item.id}">Id</h5>-->
						<p class="card-text" th:text="${item.name}">Name</p>
						<p class="card-text" th:text="${item.title}">Desc</p>
						<p class="card-text" th:text="${item.price}"></p>
						<form th:method="get" th:action="@{/home/detail/{id} (id = ${item.id})}">
							<button type="submit" class="btn btn-primary" style="background-color:linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) ">View detail product </button>
						</form>
					</div>
				</div>
			</tr>

		</table>

	</div>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset = "UTF-8">-->
<!--	<title>Trang Chu</title>-->
<!--	<link rel="stylesheet"-->
<!--	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--	      crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--	<nav class="navbar navbar-expand-md navbar-dark"-->
<!--	     style="background-color: tomato">-->
<!--		<div>-->
<!--			<a href="https://www.javaguides.net" class="navbar-brand">Management Book </a>-->
<!--		</div>-->
<!--		<div>-->
<!--			<form method="get" th:action="@{/cart}">-->
<!--				<input type="submit" value="Xem giỏ hàng">-->
<!--			</form>-->
<!--		</div>-->
<!--	</nav>-->
<!--</header>-->
<!--<br>-->

<!--<div class="row">-->
<!--	&lt;!&ndash; <div class="alert alert-success" *ngIf='message'>{{message}}</div> &ndash;&gt;-->
<!--	<div class="container">-->
<!--		<h3 class="text-center">List of Book</h3>-->
<!--		<hr>-->
<!--&lt;!&ndash;		<div class="container text-left">&ndash;&gt;-->
<!--&lt;!&ndash;			<a href="book/new" class="btn btn-success">Add New Book</a>&ndash;&gt;-->
<!--&lt;!&ndash;		</div>&ndash;&gt;-->
<!--		<br>-->
<!--		<table class="table table-bordered">-->
<!--			<thead>-->
<!--			<tr>-->
<!--				<th>ID</th>-->
<!--				<th>Title</th>-->
<!--				<th>Name</th>-->
<!--				<th>Price</th>-->
<!--				<th>Action</th>-->
<!--			</tr>-->
<!--			</thead>-->
<!--			<tbody th:each="item : ${items}">-->
<!--				<tr>-->
<!--					<td th:text="${item.id}"></td>-->
<!--					<td th:text="${item.title}"></td>-->
<!--					<td th:text="${item.name}"></td>-->
<!--					<td th:text="${item.price}"></td>-->
<!--					<td>-->
<!--						<form th:method="get" th:action="@{/home/detail/{id} (id = ${item.id})}">-->
<!--							<input type="submit" value="View detail item">-->
<!--						</form>-->
<!--					</td>-->
<!--				</tr>-->
<!--			</tbody>-->
<!--		-->
<!--		</table>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->