<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Đặt hàng</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
</head>
<body>
<header class="sticky-top">
	<nav class="navbar navbar-expand-md navbar-dark"
		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">
		<form method="get" th:action="@{/home}">
			<button type="submit" class="border-0 btn-home" style="background-color: transparent">
				<h4 class="text-white" >ONLINE STORE</h4>
			</button>
		</form>
	</nav>
</header>

<br>


<div class="container">
	<h3 class="text-center">Order Detail</h3>
	<hr>
	<br>

	<div class="d-flex justify-content-between">

		<form th:method="post" th:action="@{/order/add}">
			<table class="table  table-borderless">
				<thead>
				<tr>


					<th>Name</th>
					<th>Amount</th>
					<th>Unit Price</th>
					<th>Total Price </th>
				</tr>
				</thead>
				<tbody th:each="item : ${chosenCartItems}">
				<tr>

					<td>
						<img th:src="@{'/images/'+${item.item.image}}" class="card-img-top" alt="..." style="max-width:100px; max-height:80px">
					</td>
					<td class="text-center align-items-center" th:text="${item.item.name}"></td>
					<td class="text-center align-items-center" th:text="${item.amount}"></td>
					<td class="text-center align-items-center" th:text="${item.item.price}"></td>
					<td class="text-center align-items-center" th:with="result=${item.item.price *item.amount}">
						<span th:text="${result}"></span>
					</td>
				</tr>

				</tbody>


			</table>
			<div class="d-flex justify-content-between">
				<div class="d-flex justify-content-arround">

					<p class="p-3">Total </p>
					<span class="p-3" th:text="${totalPayment}"> </span>

				</div>

				<div>

					<button class="m-3 btn btn-primary">Payment</button>

				</div>
			</div>


		</form>

		<div class="d-grid gap-3">
			<div class="m-3 card" style="width: 18rem;">
				<div class="card-body"th:object="${user}">
					<h5 class="card-title">Shipping infomation </h5>
					<h6 class="card-subtitle mb-2 text-muted">Detail adress</h6>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:text="${'Name - ' + user.fullName.firstName}"></li>
						<li class="list-group-item"th:text="${'Address - ' + user.address.city}"></li>
						<li class="list-group-item" th:text="${'Number - ' + user.phoneNumber}"></li>
					</ul>
				</div>
			</div>

			<div class="m-3 card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Paymennt infomation </h5>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">Number Account:012221111 </li>
						<li class="list-group-item">Banker: AgriBank</li>
						<li class="list-group-item">Number:100011000</li>
					</ul>
				</div>
			</div>


		</div>


	</div>
</div>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--	  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset = "UTF-8">-->
<!--	<title>Đặt hàng</title>-->
<!--	<link rel="stylesheet"-->
<!--		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--		  crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<header class="sticky-top">-->
<!--	<nav class="navbar navbar-expand-md navbar-dark"-->
<!--		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">-->
<!--		<form method="get" th:action="@{/home}">-->
<!--			<button type="submit" class="border-0 btn-home" style="background-color: transparent">-->
<!--				<h4 class="text-white" >ONLINE STORE</h4>-->
<!--			</button>-->
<!--		</form>-->
<!--	</nav>-->
<!--</header>-->

<!--<br>-->


<!--<div class="container">-->
<!--	<h3 class="text-center">Order Detail</h3>-->
<!--	<hr>-->
<!--	<br>-->

<!--	<div class="d-flex justify-content-between">-->

<!--		<form th:method="post" th:action="@{/order/add}">-->
<!--			<table class="table  table-borderless">-->
<!--				<thead>-->
<!--				<tr>-->

<!--					<th></th>-->
<!--					<th>Name</th>-->
<!--					<th>Amount</th>-->
<!--					<th>Unit Price</th>-->
<!--					<th>Total Price </th>-->
<!--				</tr>-->
<!--				</thead>-->
<!--				<tbody th:each="item : ${chosenCartItems}">-->
<!--				<tr>-->
<!--					<td class="d-flex justify-content-around align-items-center" >-->
<!--						<input  type="checkbox" name="cartItemIds" th:value="${item.id}"/>-->

<!--						<button class="btn"><i class="fa fa-close"></i></button>-->
<!--					</td>-->
<!--					<td>-->
<!--						<img th:src="@{'/images/'+${item.item.image}}" class="card-img-top" alt="..." style="max-width:100px; max-height:80px">-->
<!--					</td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.name}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.amount}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.price}"></td>-->
<!--					<td class="text-center align-items-center" th:with="result=${item.item.price *item.amount}">-->
<!--						<span th:text="${result}"></span>-->
<!--					</td>-->
<!--				</tr>-->

<!--				</tbody>-->


<!--			</table>-->
<!--			<div class="d-flex justify-content-between">-->
<!--				<div class="d-flex justify-content-arround">-->

<!--					<p class="p-3">Total </p>-->
<!--					<span class="p-3" th:text="${totalPayment}"> </span>-->

<!--				</div>-->

<!--				<div>-->

<!--					<button class="m-3 btn btn-primary">Payment</button>-->

<!--				</div>-->
<!--			</div>-->


<!--		</form>-->

<!--		<div class="d-grid gap-3">-->
<!--			<div class="m-3 card" style="width: 18rem;">-->
<!--				<div class="card-body"th:object="${user}">-->
<!--					<h5 class="card-title">Shipping infomation </h5>-->
<!--					<h6 class="card-subtitle mb-2 text-muted">Detail adress</h6>-->
<!--					<ul class="list-group list-group-flush">-->
<!--						<li class="list-group-item" th:text="${'Name - ' + user.fullName.firstName}"></li>-->
<!--						<li class="list-group-item"th:text="${'Address - ' + user.address.city}"></li>-->
<!--						<li class="list-group-item" th:text="${'Number - ' + user.phoneNumber}"></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="m-3 card" style="width: 18rem;">-->
<!--				<div class="card-body">-->
<!--					<h5 class="card-title">Paymennt infomation </h5>-->

<!--					<ul class="list-group list-group-flush">-->
<!--						<li class="list-group-item">Number Account:012221111 </li>-->
<!--						<li class="list-group-item">Banker: AgriBank</li>-->
<!--						<li class="list-group-item">Number:100011000</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->


<!--		</div>-->


<!--	</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--	  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset = "UTF-8">-->
<!--	<title>Đặt hàng</title>-->
<!--	<link rel="stylesheet"-->
<!--		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--		  crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<header class="sticky-top">-->
<!--	<nav class="navbar navbar-expand-md navbar-dark"-->
<!--		 style="background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%)">-->
<!--		<form method="get" th:action="@{/home}">-->
<!--			<button type="submit" class="border-0 btn-home" style="background-color: transparent">-->
<!--				<h4 class="text-white" >ONLINE STORE</h4>-->
<!--			</button>-->
<!--		</form>-->
<!--	</nav>-->
<!--</header>-->

<!--<br>-->


<!--<div class="container">-->
<!--	<h3 class="text-center">Order Detail</h3>-->
<!--	<hr>-->
<!--	<br>-->

<!--	<div class="d-flex justify-content-between">-->

<!--		<form th:method="post" th:action="@{/order/add}" class="m-3">-->
<!--			<table class="table  table-borderless">-->
<!--				<thead>-->
<!--				<tr>-->
<!--					<th>Action</th>-->
<!--					<th></th>-->
<!--					<th>Name</th>-->
<!--					<th>Amount</th>-->
<!--					<th>Unit Price</th>-->
<!--					<th>Total Price </th>-->
<!--				</tr>-->
<!--				</thead>-->
<!--				<tbody th:each="item : ${chosenCartItems}">-->
<!--				<tr>-->
<!--					<td class="d-flex justify-content-around align-items-center" >-->
<!--						<input  type="checkbox" name="cartItemIds" th:value="${item.id}"/>-->

<!--						<button class="btn"><i class="fa fa-close"></i></button>-->
<!--					</td>-->
<!--					<td>-->
<!--						<img th:src="@{'/images/'+${item.item.image}}" class="card-img-top" alt="..." style="max-width:100px; max-height:80px">-->
<!--					</td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.name}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.amount}"></td>-->
<!--					<td class="text-center align-items-center" th:text="${item.item.price}"></td>-->
<!--					<td class="text-center align-items-center" th:with="result=${item.item.price *item.amount}">-->
<!--						<span th:text="${result}"></span>-->
<!--					</td>-->
<!--				</tr>-->

<!--				</tbody>-->


<!--			</table>-->
<!--		</form>-->

<!--		<div class="d-grid gap-3">-->
<!--			<div class="m-3 card" style="width: 18rem;">-->
<!--				<div class="card-body">-->
<!--					<h5 class="card-title">Shipping infomation </h5>-->
<!--					<h6 class="card-subtitle mb-2 text-muted">Detail adress</h6>-->
<!--					<ul class="list-group list-group-flush">-->
<!--						<li class="list-group-item">Name</li>-->
<!--						<li class="list-group-item">Adress</li>-->
<!--						<li class="list-group-item">Number</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="m-3 card" style="width: 18rem;">-->
<!--				<div class="card-body">-->
<!--					<h5 class="card-title">Paymennt infomation </h5>-->

<!--					<ul class="list-group list-group-flush">-->
<!--						<li class="list-group-item">Number Account </li>-->
<!--						<li class="list-group-item">Banker-->
<!--						<li class="list-group-item">Number</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->

<!--			<form th:method="post" th:action="@{/order/add}">-->
<!--				<button class="m-3 btn btn-primary">Payment</button>-->
<!--			</form>-->

<!--		</div>-->


<!--	</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->